*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}


nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #e5e5e5;
    height: 70px;
    font-size: 1rem;
}

main{
margin-top: 40px;
}

.middle{
flex: 1;
max-width: 50%;
}

 .middle ul{
    display: flex;
    justify-content: space-evenly;
    gap: 30px;
}

li{
    list-style: none;
}

nav  a{
    text-decoration: none;
    color: black;
}

.firstsection{
    display: flex;
    justify-content: center;
    align-items: center;
}

.leftblock{
    width: 50%;
    font-size: 2.5em;
    padding-left: 200px;
    padding-top: 150px;
}

.rightblock{
    width: 30%;
    margin-top: 80px;
}

.rightblock img{
    width: 100%;

}

#name{
font-size: 3rem;
font-weight: bold;
}

#element{
    color: rgb(147, 147, 213);
}

.intro{
    display: flex;
}

#script{
    margin-left: 10px;
}

.icons{
    display: flex;
    width: 27%;
    justify-content: space-around;

}

.icons img{
    width: 25px;
}

.right  button{
    font-size: 0.8rem;
    background: none;
    border: 1px solid ;
    padding: 0.4em 0.8em;
    transition: all 0.25em;
    border-radius: 15px;
}

.right button:hover{
    border-color: rgb(147, 147, 213);
    color: rgb(128, 116, 116);
    box-shadow: 0em 0.5em 0.3em -0.1em rgb(147, 147, 213);
    cursor: pointer;
    /* transform: translateY(0.5em); */
}

.resume{
    padding-left: 45px;
}

.resume button{
    font-size: 0.3em;
    border: 1px solid black;
    padding: 0.6rem 0.9rem;
    background: none;
    border-radius: 15px;
    transition: all 0.25em;
    border-radius: 1.2em;
}

.resume button:hover{
    border-color: rgb(147, 147, 213);
    color: rgb(128, 116, 116);
    box-shadow: 0em 0.5em 0.3em -0.1em rgb(147, 147, 213);
    cursor: pointer;
}

nav li a:hover{
    /* color: rgb(147, 147, 213); */
    border-bottom: 0.1em solid rgb(147, 147, 213);
    box-shadow: 0em 0.5em 0.5em -0.3em rgb(147, 147, 213);
}

.icons li :hover{
    transform: scale(1.2);
}

.secondsection{
    /* margin-top:4rem; */
}

#about{
    text-align: center;
} 

.about-container{
    margin: 2rem 4rem;
border: 1px solid black;
display: flex;
/* padding: 2rem; */
justify-content: space-between;
}

.about-text{
width: 70%; 
line-height: 1.5em;
padding: 2rem;
}

.about-img{
    width: 20%;
}

hr{
    width: 70%;             
  margin: 8rem auto 3 rem;       
  border: none;            
  height: 2px;             
  background-color: rgb(147, 147, 213);
}

